body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #f4f6f9;
}

.layout {
    display: flex;
    height: 100vh;
}

.menu {
    width: 220px;
    background-color: #0e2033;
    color: white;
    padding: 20px;
}

.menu h2 {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.menu nav a {
    display: block;
    color: white;
    text-decoration: none;
    background-color: #163a5f;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.menu nav a:hover {
    background-color: #1c507a;
}

.contenido {
    flex: 1;
    padding: 2rem;
    background: white;
    overflow-y: auto;
}
